__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
.eggs/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache/
.ruff_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
